/*ESTILOS PERSONALIZADOS DE LA APLICACIÓN - MÓDULO CLIENTES
Derechos reservados @2021 - TOTO'S PIZZA SAC
Desarrolladores unidos por un bien mayor*/

/*custom > home*/
.profile-background{
    background-image: url(../image/Huancayo.jpg);
    background-repeat: no-repat;
    background-size: cover;
    background-blend-mode: multiply;
}

.ct-nos-background{
    background-image: url(../image/fondo-ctn.png);
    background-repeat: no-repat;
    background-size: cover;
    background-blend-mode: multiply;
}

.offices-background{
    background-image: url(../image/totos-pizza.jpg);
    background-repeat: no-repat;
    background-size: cover;
    background-blend-mode: multiply;
}